div.body{
    width: 100%;
    margin: 20px auto;
    border: 20px solid #8a8a8b;
    padding: 20px;
    font-size: 100%;
    font-family: 'Source Sans Pro'
}
.post{
    padding-bottom: 2px;
}
.date{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #28e2a3;
}
.quote{
    border-left: 5px solid #bdc3c7;
    padding: 5px;
}
h2{
    font-size: 2em;
    font-weight: bold;
    color: #262626;
}
.logo{
	width: 130px;
	height: 50px;
}
